<div class="page-header">
  <%= link_to company_path(@department.company), :class => 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>Editing department</h1>
</div>

<%= render 'form' %>
